:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/* ==================================================================HEADER=========================================================================================== */

header {
  padding: 5vw 10vw 5vw 10vw;
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul {
      display: flex;
      & li {
        margin: 0px 10px 0px 10px;
        position: relative;

        & ul {
          display: none;
        }
      }
      & li:hover ul {
        display: block;
        position: absolute;
      }
    }
  }
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
}

header nav ul li.atual a {
  color: #FB2E86;
}

header a {
  color: #0D0E43;
}

/*============================================================================== NBANNER ==========================================================*/

section.banner {
  display: flex;
  padding: 5vw 10vw 5vw 10vw;
  background-color: #F2F0FF;
}

section.banner h3 {
  color: #FB2E86;
  font-size: large;
  font-weight: bold;
}

section.banner h2 {
  font-weight: bold;
  font-size: 3.5rem;
  margin: 5px 0;
}

section.banner p {
  color: #8a8fb9;
  margin: 15px 0;
}

section.banner p button {
  background-color: #FB2E86;
  color: white;
  padding: 15px 35px 15px 35px;
  margin: 4vw 0;
  border-radius: 2px;
}

section.banner div.textos {
  padding-right: 4vw;
}

/* ================================================================PROODUTOS================================================================== */

section.produtos {
  padding: 5vw 10vw 5vw 10vw;
}

section.produtos h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #1A0B5B;
}

section.produtos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.produtos ul li {
  width: 30%;
}

section.produtos ul li p {
  background-color: #F7F7F7;
  text-align: center;
}

section.produtos ul li h3 {
  color: #151875;
  font-size: 1rem;
  margin: 17px 0 30px 0 ;
}

section.produtos ul li h3 span {
  border-bottom: 1px solid #eeeffb;
}

/* =========================================================================CONVITE=============================================================== */

section.convite {
  padding: 5vw 10vw 5vw 10vw;
  background: url(../src/images/back-section-update.png);
  text-align: center;
}

section.convite h2 {
  font-size: 3rem;
  color: #151875;
  font-weight: bold;
}

section.convite p button {
  background-color: #FB2E86;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 3px;
  margin: 2vw 0;
}

/* ===================================================FOOTER ===================================================================================== */

footer {
  display: flex;
  justify-content: space-between;
  padding: 5vw 10vw 5vw 10vw;
  background-color: #EEEFFB;
}

footer h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1vw 0;
}

footer p {
  color: #8A8FB9;
  margin: 5px 0;
}

footer h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1vw 0;
}

footer div nav ul li a {
  color: #8A8FB9;
  margin: 5px 0;
}

footer nav ul li {
  margin: 20px 0;
}